{% extends 'layouts/index.html' %}

{% block content %}
<div class="intro-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="intro-message">
					<h3><b>Subir documento</b></h3>
					<div class="row">
						<form role="form" action="{% url 'add-documento' pk %}" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-group col-md-12">
								<label><b>{{ c.registro_canino_form.detalle_registro.label }}</b></label>
								{{ c.registro_canino_form.detalle_registro }}
							</div>
							{{ c.registro_canino_documento_form.management_form }}
							<div id="content-input-document"></div>
							<div class="col-md-12" id="content-input">
								{% for form in c.registro_canino_documento_form %}
									<div class="form-group col-md-7">
										<label><b>{{ form.nombre_documento.label }}</b></label>
										{{ form.nombre_documento }}
									</div>
									<div class="form-group col-md-5">
										<label><b>{{ form.documento.label }}</b></label>
										{{ form.documento }}
									</div>
								{% endfor %}
							</div>
							<div class="form-group col-md-12 text-center">
								<a id="add-document" class="btn btn-primary">
									<i class="glyphicon glyphicon-plus"></i> agregar documento
								</a>
								<input type="submit" class="btn btn-success" value="Guardar canino">
								<a href="{% url 'detail-canino' pk %}" class="btn btn-default">Volver</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function updateElementIndex(el, prefix, ndx){
		var id_regex = new RegExp('('+prefix+'-\\d+-)');
		var replacement = prefix+'-'+ndx+'-';
		if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
		if (el.id) el.id = el.id.replace(id_regex, replacement);
		if (el.name) el.name = el.name.replace(id_regex, replacement);
	}
	function addForm(btn, prefix){
		var formCountInput = parseInt($('#id_'+prefix+'-TOTAL_FORMS').val());
		if(formCountInput < 10){
			var row = $('#content-input').clone(false).get(0);
			$(row).removeAttr('id').hide().insertAfter('#content-input-document:last').slideDown(300);
			$(row).children().children().each(function(){
				updateElementIndex(this, prefix, formCountInput);
				$(this).val("");
			});
			$(row).find(".delete").click(function(){
				return deleteForm(this, prefix);
			});
			$("#id_"+prefix+"-TOTAL_FORMS").val(formCountInput + 1);
		}
	}
	function deleteForm(btn, prefix){
		var formCount = parseInt($('#id_'+prefix+'-TOTAL_FORMS').val());
		if (formCount > 1){
			$(btn).parents('#content-input-document').remove();
			var forms = $('#content-input-document');
			$('#id_'+prefix+'-TOTAL_FORMS').val(forms.length);
			var i = 0;
			for (formCount = forms.length; i < formCount; i++) {
				$(forms.get(i)).children().children().each(function () {
					updateElementIndex(this, prefix, i);
				});
			}
		}
		else {
			alert("Digita los campos requeridos");
		}
		return false;
	}
	$(document).on('click', '#add-document', function(e){
		return addForm(this, 'form');
	});
</script>
{% endblock content %}